NODE_ENV=development
LOG_LEVEL=info

# MongoDB
MONGO_URI=mongodb://mongo:27017
MONGO_DB_NAME=notification_service_db

# Kafka
KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=notification-service
KAFKA_GROUP_ID=notification-service-group
